/* SpinLoader.scss */
/* _variables.scss */
.SpinLoader {
    display: table;
    margin: 0 auto;
}

@-webkit-keyframes SpinLoader-circle {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes SpinLoader-circle {
    100% {
        transform: rotate(360deg);
    }
}

.SpinLoader .spinner {
    border-radius: 50%;
    -webkit-animation: SpinLoader-circle 2s infinite linear;
    animation: SpinLoader-circle 2s infinite linear;
    width: 128px;
    height: 128px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-left-color: rgba(255, 255, 255, 0.9);
    margin-top: 100px;
}
